<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Diamond Valuation{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'system/home.css' %}">
</head>
<body>
    <header>
        <div class="container">
            <h1>Diamond Valuation System</h1>
            <nav>
                <ul>
                    <li><a href="{% url 'home' %}">Trang chủ</a></li>
                    <li><a href="{% url 'estimate' %}">Ước lượng</a></li>
                    <li><a href="{% url 'valuation_process' %}">Định giá</a></li>
                    <li><a href="{% url 'blog' %}">Blog</a></li>
                    <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
                    <li><a href="{% url 'login' %}">Đăng nhập</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>&copy; 2025 Diamond Valuation System.</p>
    </footer>
</body>
</html>
