{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'system/home.css' %}" />
    <script
      src="https://kit.fontawesome.com/d2d4b6cf81.js"
      crossorigin="anonymous"
    ></script>
    <title>Diamond Valuation System</title>
  </head>
  <body>
    <div class="main">
      <div class="head">
        <div>
          <div>
            <h4 class="head-text">
              <i class="fa-solid fa-gem fa-lg head-icon"></i>
              Diamond System
            </h4>
            <p class="head-text">
              CN HCM: Số 2, đường Võ Oanh, Phường 25, Quận Bình Thạnh, TP. HCM
            </p>
          </div>
        </div>
        <div class="head-t">
          <img
            src="{% static 'system/img/logo.png' %}"
            width="100"
            height="100"
          />
        </div>
        <div class="head-l">
          <p>
            <i class="fa-solid fa-phone head-icon"></i>0122 7654 33 - 0891 3214
            49
          </p>
          <div class="head-search">
            <input type="text" name="search..." />
            <i class="fa-solid fa-magnifying-glass"></i>
          </div>
        </div>
      </div>
      <div class="head-bar">
        <ul>
          <li>Trang Chủ</li>
          <li>Dịch Vụ</li>
          <li>Kiến thức kim cương</li>
          <li>Tra cứu</li>
          <li>Định giá</li>
          <li>Liên Hệ</li>
        </ul>
      </div>
    </div>
  </body>
</html>
