{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'system/home.css' %}" />
    <script
      src="https://kit.fontawesome.com/d2d4b6cf81.js"
      crossorigin="anonymous"
    ></script>
    <title>Diamond Valuation System</title>
  </head>
  <body>
    <div class="main">
      <div class="head">
        <div>
          <div>
            <h4 class="head-text">
              <i class="fa-solid fa-gem fa-lg head-icon"></i>
              Diamond System
            </h4>
            <p class="head-text">
              CN HCM: Số 2, đường Võ Oanh, Phường 25, Quận Bình Thạnh, TP. HCM
            </p>
          </div>
        </div>
        <div class="head-t">
          <img
            src="{% static 'system/img/logo.png' %}"
            width="100"
            height="100"
          />
        </div>
        <div class="head-l">
          <p>
            <i class="fa-solid fa-phone head-icon"></i>0122 7654 33 - 0891 3214
            49
          </p>
          <div class="head-search">
            <input type="text" name="search..." />
            <i class="fa-solid fa-magnifying-glass"></i>
          </div>
        </div>
      </div>
      <div class="head-bar">
        <ul>
          <li>Trang Chủ</li>
          <li>Dịch Vụ</li>
          <li>Kiến thức kim cương</li>
          <li>Tra cứu</li>
          <li>Định giá</li>
          <li>Liên Hệ</li>
        </ul>
      </div>
      <div class="body-main">
        <div class="body-main-h">
          <img
            src="{% static 'system/img/company.jpg' %}"
            width="100%"
            height="500"
          />
        </div>
        <div class="body-main-li">
          <h2>DANH MỤC NỔI BẬT</h2>
          <div class="body-main-li-h">
            <div class="body-main-li-dimond">
              <img src="{% static 'system/img/nhan-nam.png' %}" />
              <p>Nhẫn kim cương nam</p>
            </div>
            <div class="body-main-li-dimond">
              <img src="{% static 'system/img/nhan-nu.png' %}" />
              <p>Nhẫn kim cương nữ</p>
            </div>
            <div class="body-main-li-dimond">
              <img src="{% static 'system/img/nhan-cuoi.png' %}" />
              <p>Nhẫn cưới kim cương</p>
            </div>
            <div class="body-main-li-dimond">
              <img src="{% static 'system/img/vo-nhan.png' %}" />
              <p>Vỏ nhẫn kim cương </p>
            </div>
            <div class="body-main-li-dimond">
              <img src="{% static 'system/img/bong-tai.png' %}" />
              <p>Bông tai kim cương</p>
            </div>
            <div class="body-main-li-dimond">
              <img
                src="{% static 'system/img/i-mat-day-chuyen-kim-cuong.png' %}"
              />
              <p>Dây chuyền kim cương</p>
            </div>
          </div>
        </div>
        <div class="body-main-i">
          <h2>CÔNG CỤ ĐO ĐẠC</h2>
          <p>Trang bị những trang thiết bị hiện đại đo đạt chuẩn xác nhất</p>
          <div class="body-main-product">
            <div class="body-main-items">
              <img
                src="{% static 'system/img/machin-2.png' %}"
                width="100%"
                height="100%"
              />
              <p>YEHUDA SH4.0</p>
            </div>
            <div class="body-main-items">
              <img
                src="{% static 'system/img/machin.png' %}"
                width="100%"
                height="100%"
              />
              <p>AMS2</p>
            </div>
            <div class="body-main-items">
              <img
                src="{% static 'system/img/machin-3.png' %}"
                width="100%"
                height="100%"
              />
              <p>GIA iD100®</p>
            </div>
          </div>
        </div>
        <div class="body-main-r">
          <h2>TẠI SAO CHỌN CHÚNG TÔI</h2>
          <div class="body-main-r-ser">
            <div class="body-main-r-ser-item">
              <img src="{% static 'system/img/Diamond-Gold.png'%}" alt="">
              <h3>KIM CƯƠNG GIÁ RẺ</h3>
              <P>Cung cấp các mẫu trang sức đẹp sắc sảo, đẳng cấp trong kiểu dáng, tinh tế trong từng chi tiết với giá thành rẻ nhất thị trường hiện tại</P>
            </div>
            <div class="body-main-r-ser-item">
              <img src="{% static 'system/img/Trust.png'%}" alt="">
              <h3>CHẤT LƯỢNG HOÀN MỸ</h3>
              <P>Kim cương thiên nhiên nhập khẩu chính ngạch 100% được lựa chọn hết sức cẩn thận, có độ tinh khiết và sáng bóng dù là viên nhỏ nhất</P>
            </div>
            <div class="body-main-r-ser-item">
              <img src="{% static 'system/img/Clock.png'%}" alt="">
              <h3>TẬN TÂM PHỤC VỤ</h3>
              <P>Đội ngũ nhân viên tận tâm, yêu nghề, giàu chuyên môn, luôn sẵn sàng phục vụ. Đảm bảo làm hài lòng mọi khách hàng khó tính nhất</P>
            </div>
            <div class="body-main-r-ser-item">
              <img src="{% static 'system/img/Gift.png'%}" alt="">
              <h3>CHÍNH SÁCH HẤP DẪN</h3>
              <P>Bảo hành và làm mới trang sức trọn đời. Nhận thu đổi kim cương với % cực hấp dẫn. Nhận bỏ sỉ kim cương giá tốt toàn Việt Nam</P>
            </div>

          </div>
        </div>
      </div>
    </div>
  </body>
</html>
