{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'system/home.css' %}" />
    <script
      src="https://kit.fontawesome.com/d2d4b6cf81.js"
      crossorigin="anonymous"
    ></script>
    <title>Diamond Valuation System</title>
  </head>
  <body>
    <div class="main">
      <div class="head">
        <div>
          <div>
            <h4 class="head-text">
              <i class="fa-solid fa-gem fa-lg head-icon"></i>
              Diamond System
            </h4>
            <p class="head-text">
              CN HCM: Số 2, đường Võ Oanh, Phường 25, Quận Bình Thạnh, TP. HCM
            </p>
          </div>
        </div>
        <div class="head-t">
          <img
            src="{% static 'system/img/logo.png' %}"
            width="100"
            height="100"
          />
        </div>
        <div class="head-l">
          <p>
            <i class="fa-solid fa-phone head-icon"></i>0122 7654 33 - 0891 3214
            49
          </p>
          <div class="head-search">
            <input type="text" name="search..." />
            <i class="fa-solid fa-magnifying-glass"></i>
          </div>
        </div>
      </div>
      <div class="head-bar">
        <ul>
          <li><a href="{% url 'index' %}">Trang Chủ</a></li>
          <li>Dịch Vụ</li>
          <li>Kiến thức kim cương</li>
          <li>Tra cứu</li>
          <li><a href="{% url 'valuation' %}">Định giá</a></li>
          <li>Liên Hệ</li>
        </ul>
      </div>
      {% block body %}
      <div class="body-main">
        <div class="body-main-h">
          <img
            src="{% static 'system/img/company.jpg' %}"
            width="100%"
            height="500"
          />
          <div class="body-main-h-descr">
            <p>Chào mừng quý khách đã đến với Phần Mềm Định Giá Kim Cương!</p>
            <span
              >Chúng tôi là công ty phần mềm chuyên cung cấp giải pháp quản lý
              ngành kim cương đá quý với nhiều trang thiết bị hiện đại đo đạc
              chính xác nhất.
            </span>
          </div>
        </div>
        <div class="body-main-li">
          <h2>DANH MỤC NỔI BẬT</h2>
          <div class="body-main-li-h">
            <div class="body-main-li-dimond">
              <img src="{% static 'system/img/nhan-nam.png' %}" />
              <p>Nhẫn kim cương nam</p>
            </div>
            <div class="body-main-li-dimond">
              <img src="{% static 'system/img/nhan-nu.png' %}" />
              <p>Nhẫn kim cương nữ</p>
            </div>
            <div class="body-main-li-dimond">
              <img src="{% static 'system/img/nhan-cuoi.png' %}" />
              <p>Nhẫn cưới kim cương</p>
            </div>
            <div class="body-main-li-dimond">
              <img src="{% static 'system/img/vo-nhan.png' %}" />
              <p>Vỏ nhẫn kim cương</p>
            </div>
            <div class="body-main-li-dimond">
              <img src="{% static 'system/img/bong-tai.png' %}" />
              <p>Bông tai kim cương</p>
            </div>
            <div class="body-main-li-dimond">
              <img
                src="{% static 'system/img/i-mat-day-chuyen-kim-cuong.png' %}"
              />
              <p>Dây chuyền kim cương</p>
            </div>
          </div>
        </div>
        <div class="body-main-i">
          <h2>KIẾN THỨC KIM CƯƠNG</h2>
          <p>Tổng hợp những bài viết mới nhất về kim cương, hột xoàn</p>
          <div class="body-main-product">
            <div class="body-main-items">
              <img
                src="{% static 'system/img/knowlage-1.jpg' %}"
                width="100%"
              />
              <h4>Bông tai, khuyên tai vàng trắng đẹp, giá tốt nhất 2025</h4>
              <p>
                Khuyên tai vàng trắng là gì? Khuyên tai, hoa tai hay bông tai
                vàng trắng là món trang sức đeo trên tai được làm từ chất liệu
                vàng trắng. Nó sở hữu màu trắng ánh kim tinh khiết và lấp lánh
              </p>
            </div>
            <div class="body-main-items">
              <img
                src="{% static 'system/img/knowlage-2.jpg' %}"
                width="100%"
              />
              <h4>Nên mua vàng hay kim cương? Cái nào đáng đầu tư hơn?</h4>
              <p>
                Việc đánh giá vàng hay kim cương có giá trị hơn phụ thuộc vào
                nhiều yếu tố như mục đích sử dụng, bối cảnh thị trường và tiêu
                chí đầu tư của từng cá nhân. Dưới đây là một số phân tích chi
                tiết từ các chuyên gia hàng đầu trong ngành
              </p>
            </div>
            <div class="body-main-items">
              <img
                src="{% static 'system/img/knowlage-3.jpg' %}"
                width="100%"
              />
              <h4>Kiểm định kim cương GIA: Tất cả thông tin mới nhất</h4>
              <p>
                Gemological Institute of America (GIA) là tổ chức hàng đầu thế
                giới trong việc giám định đá quý, đặc biệt là kim cương. GIA
                được xem là chuẩn mực toàn cầu để định tính và định danh từng
                viên kim cương trên thị trường. Giấy kiểm định từ GIA
              </p>
            </div>
          </div>
        </div>
        <div class="body-main-r">
          <h2>TẠI SAO CHỌN CHÚNG TÔI</h2>
          <div class="body-main-r-ser">
            <div class="body-main-r-ser-item">
              <img src="{% static 'system/img/Diamond-Gold.png'%}" alt="" />
              <h3>Định giá nhanh chóng</h3>
              <p>kiểm tra và định giá chính xác với trang thiết bị hiện đại</p>
              <p>Khám phá ngay ></p>
            </div>
            <div class="body-main-r-ser-item">
              <img src="{% static 'system/img/Trust.png'%}" alt="" />
              <h3>Phục vụ tốt nhất</h3>
              <p>
                Với nhân viên giàu kinh nghiệm sẽ giải đáp cũng như giúp đỡ tận
                tình
              </p>
              <p>Khám phá ngay ></p>
            </div>
            <div class="body-main-r-ser-item">
              <img src="{% static 'system/img/Clock.png'%}" alt="" />
              <h3>Bảo hành trọn đời</h3>
              <p>Miễn phí bảo hành trọn đời cho tất cả trang sức</p>
              <p>Khám phá ngay ></p>
            </div>
          </div>
        </div>

        <div class="body-main-blog">
          <div class="body-main-blog-l">
            <img
              src="{% static 'system/img/news.png' %}"
              width="410"
              height="530"
            />
          </div>
          <div class="body-main-blog-r">
            <h3>
              Tin mới nhất
              <div class="line"></div>
            </h3>
            <div class="body-main-blog-r-items">
              <img
                src="{% static 'system/img/blog1.webp'%}"
                width="150"
                height="100%"
              />
              <div>
                <a href="#"
                  >Kim cương Lab-grown là gì? Sự khác nhau giữa Kim cương tự
                  nhiên và kim cương Lab-grown: Đâu là sự lựa chọn tốt nhất?</a
                >
                <p>30/12/2024</p>
              </div>
            </div>
            <div class="body-main-blog-r-items">
              <img
                src="{% static 'system/img/blog2.webp'%}"
                width="150"
                height="100%"
              />
              <div>
                <a href="#"
                  >Hướng dẫn 4 cách đo size nhẫn chuẩn, không sai 1 li</a
                >
                <p>29/12/2024</p>
              </div>
            </div>
            <div class="body-main-blog-r-items">
              <img
                src="{% static 'system/img/blog3.webp'%}"
                width="150"
                height="100%"
              />
              <div>
                <a href="#"
                  >Spark Of Heaven - Bộ sưu tập nhẫn cầu hôn mới từ Tierra
                  Diamond</a
                >
                <p>01/10/2024</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endblock %}
      <div class="footer">
        <img
          src="{% static 'system/img/logo.png '%}"
          width="200"
          height="250"
        />

        <div class="footer-items">
          <h3>ĐỊNH GIÁ</h3>
          <a href="">Nhẫn cưới</a>
          <a href="">Nhẫn kim cương</a>
          <a href="">Đá quý</a>
          <a href="">Dây chuyền</a>
          <a href="">Vòng tay</a>
        </div>
        <div class="footer-items">
          <h3>LIÊN HỆ</h3>
          <span href="">Gọi tư vấn</span>
          <a href="">0124 6789 76</a>
          <a href="">0231 6674 21</a>
          <span>Góp ý khiếu nại</span>
          <a href="">support@ut.edu.vn</a>
        </div>
        <div class="footer-items">
          <h3>HỖ TRỢ</h3>
          <a href="">Chính sách thu mua - định giá</a>
          <a href="">Phương thức thanh toán</a>
          <a href="">Bảo mật thông tin </a>
        </div>
        <div class="footer-items">
          <h3>ABOUT US</h3>
          <div class="footer-contact">
            <a href=""
              ><img src="{% static 'system/img/facebook.png' %}" alt=""
            /></a>
            <a href=""
              ><img src="{% static 'system/img/instagram.png' %}" alt=""
            /></a>
            <a href=""
              ><img src="{% static 'system/img/youtube.png' %}" alt=""
            /></a>
          </div>
        </div>
      </div>
      <div class="footer-end">
        <p>
          Công ty Cổ phần Tierra - MST: 0314071883 - Do Sở kế hoạch và đầu tư
          TPHCM cấp ngày 20/10/2016
        </p>
        <div class="footer-end-icon">
          <img src="{% static 'system/img/rever.webp' %}" alt="" />
          <img
            src="{% static 'system/img/logo-bct.webp' %}"
            width="109"
            height="22"
          />
        </div>
      </div>
      <div class="Contact">
        <img
          src="{% static 'system/img/form.webp' %}"
          width="100%"
          height="75"
        />
        <div class="contact-infor">
          <input type="text" placeholder="Tên" />
          <input type="text" placeholder="Số điện thoại" />
          <button>Tư Vấn Ngay</button>
        </div>
      </div>
    </div>
  </body>
</html>
