{% extends "home.html" %} {% block body %}
<div class="valuation">
  <h2>Diamond Valuation</h2>
  <form id="valuation_form" method="post">
    {% csrf_token %}
    <div class="valuation_table">
      <div class="valuation-item">
        <h5>Tên</h5>
        <input type="text" name="name" placeholder="Name" />
      </div>
      <div class="valuation-item">
        <h5>Số Điện Thoại</h5>
        <input type="text" name="phone" placeholder="Name" />
      </div>
      <div class="valuation-item">
        <h5>Nguồn Gốc</h5>
        <input
          type="text"
          name="origin"
          placeholder="e.g., Natural, Lab-grown"
        />
      </div>
      <div class="valuation-item">
        <h5>Hình Dáng</h5>
        <input type="text" name="shape" placeholder="e.g., Round, Princess" />
      </div>
      <div class="valuation-item">
        <h5>Số Đo</h5>
        <input
          type="text"
          name="measurements"
          placeholder="e.g., 5.2 x 5.2 x 3.1 mm"
        />
      </div>
      <div class="valuation-item">
        <h5>Trọng Lượng</h5>
        <input type="number" name="carat_weight" placeholder="e.g., 1.2" />
      </div>
      <div class="valuation-item">
        <h5>Màu Sắc</h5>
        <input type="text" name="color" placeholder="e.g., D, E, F" />
      </div>
      <div class="valuation-item">
        <h5>Độ Trong</h5>
        <input type="text" name="clarity" placeholder="e.g., VS1, VS2" />
      </div>
      <div class="valuation-item">
        <h5>Độ Cắt</h5>
        <input
          type="text"
          name="cut"
          placeholder="e.g., Excellent, Very Good"
        />
      </div>
      <div class="valuation-item">
        <h5>Tỉ lệ</h5>
        <input type="text" name="proportions" placeholder="e.g., Ideal, Good" />
      </div>
      <div class="valuation-item">
        <h5>Đánh Bóng</h5>
        <input type="text" name="polish" placeholder="e.g., Excellent, Good" />
      </div>
      <div class="valuation-item">
        <h5>Đối Xứng</h5>
        <input
          type="text"
          name="symmetry"
          placeholder="e.g., Excellent, Good"
        />
      </div>
      <div class="valuation-item">
        <h5>Huỳnh quang</h5>
        <input
          type="text"
          name="fluorescence"
          placeholder="e.g., None, Medium"
        />
      </div>
      <div class="valuation-item result">
        <h3>Grade</h3>
        <h1>{{ result.grade|default:"-" }}</h1>
        <p>{{ result.price_range|default:"(0đ - 0đ)" }}</p>
      </div>
      <form>
        <button type="submit">In PDF</button>
      </form>
    </div>
  </form>
</div>
{% endblock %}
