{% extends "home.html" %} {% block body %}
<div class="valuation">
  <h2>Diamond Valuation</h2>
  <div class="valuation_table">
    <div class="valuation-item">
      <h5>Origin</h5>
      <input type="text" placeholder="e.g., Natural, Lab-grown" />
    </div>
    <div class="valuation-item">
      <h5>Shape</h5>
      <input type="text" placeholder="e.g., Round, Princess" />
    </div>
    <div class="valuation-item">
      <h5>Measurements</h5>
      <input type="text" placeholder="e.g., 5.2 x 5.2 x 3.1 mm" />
    </div>
    <div class="valuation-item">
      <h5>CaratWeight</h5>
      <input type="number" placeholder="e.g., 1.2" />
    </div>
    <div class="valuation-item">
      <h5>Color</h5>
      <input type="text" placeholder="e.g., D, E, F" />
    </div>
    <div class="valuation-item">
      <h5>Clarity</h5>
      <input type="text" placeholder="e.g., VS1, VS2" />
    </div>
    <div class="valuation-item">
      <h5>Cut</h5>
      <input type="text" placeholder="e.g., Excellent, Very Good" />
    </div>
    <div class="valuation-item">
      <h5>Proportions</h5>
      <input type="text" placeholder="e.g., Ideal, Good" />
    </div>
    <div class="valuation-item">
      <h5>Polish</h5>
      <input type="text" placeholder=" e.g., Excellent, Good" />
    </div>
    <div class="valuation-item">
      <h5>Symmetry</h5>
      <input type="text" placeholder="e.g., Excellent, Good" />
    </div>
    <div class="valuation-item">
      <h5>Fluorescence</h5>
      <input type="text" placeholder="e.g., None, Medium" />
    </div>
    <div class="valuation-item result">
      <h3>Grade</h3>
      <h1>10</h1>
      <p>(5.000.000đ - 7.000.000đ)</p>
    </div>
    <button>Submit</button>
  </div>
</div>

{% endblock %}
