body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

/* ================================================Head========================================= */

.head {
  padding: 0 24px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: space-between;
  background-color: rgb(61, 58, 58);
}

.head-icon {
  margin-right: 8px;
  width: 18px;
  color: #fff;
}

.head-text {
  color: white;
  margin: 0;
  font-size: 14px;
  padding: 4px 0;
}

.head-t {
  text-align: center;
}

.head-l {
  font-size: 14px;
  color: white;
  display: grid;
  justify-content: end;
}

.head-search {
  position: relative;
  width: 120px;
}

.head-search input {
  padding: 4px 4px;
  border-radius: 24px;
  width: 100%;
  border: none;
  outline: none;
  background-color: gray;
  color: #fff;
}

.head-search i {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  right: -18px;
  padding: 4px;
  background-color: gray;
  border-radius: 100%;
}

/* head-bar  */

.head-bar {
  background-color: #5a5959;
}

.head-bar ul {
  display: flex;
  list-style: none;
  justify-content: space-around;
  padding: 16px 150px;
  margin: 0;
  color: white;
}

.head-bar ul li {
  cursor: pointer;
  font-size: 14px;
}

.head-bar ul li:hover {
  color: #edd184;
}

/* ================================================Body========================================= */

.body-main {
  background-color: rgb(61, 58, 58);
  color: white;
}

.body-main-i,
.body-main-li,
.body-main-r,
.body-main-blog {
  padding: 48px 32px 0 32px;
}

.body-main-li h2 {
  padding-bottom: 18px;
}

.body-main-i h2 {
  padding-top: 30px;
}

.body-main-h {
  position: relative;
}

.body-main-h img {
  object-fit: fill;
}

.body-main-h-descr {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0.3);
}

.body-main-h-descr p {
  margin-top: 25%;
  width: 100%;
  text-align: center;
  line-height: 1.5;
  font-size: 28px;
  margin-bottom: 0;
}

.body-main-h-descr span {
  color: #edd184;
  font-size: 18px;
  display: block;
  width: 80%;
  margin: 28px auto;
  text-align: center;
}

.body-main-product {
  display: flex;
  justify-content: center;
  padding-top: 40px;
}

.body-main-items {
  object-fit: cover;
  background-color: #5a5959;
  width: 345px;
  border-radius: 12px;
  margin: 0 16px;
}

.body-main-items p {
  padding: 0 12px;
  color: #edd184;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  white-space: normal;
  -webkit-box-orient: vertical;
}

.body-main-items h4 {
  padding: 0 12px;
}

.body-main-items img {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  height: 193px;
  cursor: pointer;
}

.body-main-li-h {
  display: flex;
  justify-content: space-around;
}

.body-main-li-dimond {
  padding: 20px;
  background-color: #5a5959;
  border-radius: 100%;
  position: relative;
}

.body-main-li-dimond p {
  position: absolute;
  color: #edd184;
  width: 200px;
  text-align: center;
  z-index: 1;
  bottom: -40px;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
}

.body-main-li-dimond img {
  cursor: pointer;
  width: 120px;
  height: 120px;
  transition: transform 0.3s ease;
}

.body-main-li-dimond img:hover {
  transform: scale(1.2);
}

.body-main-r-ser {
  display: flex;
  justify-content: space-around;
  padding: 12px 50px;
}

.body-main-r-ser-item {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
}

.body-main-r-ser-item img {
  width: 60px;
}

.body-main-r-ser-item p {
  font-size: 13px;
  margin-bottom: 4px;
  cursor: pointer;
  width: 240px;
  line-height: 1.5;
  text-align: center;
}

.body-main-r-ser-item h3 {
  margin: 8px 0;
}

.body-main-report {
  text-align: center;
}

.body-main-blog {
  display: flex;
  justify-content: center;
  margin-top: 48px;
  padding-bottom: 48px;
}

.body-main-blog-r {
  width: 30%;
}

.body-main-blog-r-items {
  display: flex;
  align-items: center;
}

.body-main-blog-r-items a {
  text-decoration: none;
  color: white;
}

.body-main-blog-r h3 {
  margin: 10px 0;
  padding-left: 24px;
}

.body-main-blog-r-items p {
  color: rgb(228, 224, 224);
}

.body-main-blog-r-items img {
  padding: 8px 24px;
}

.line {
  height: 1px;
  border-bottom: 1px solid #d9d9d9;
  display: inline-flex;
  width: 180px;
  margin-left: 20px;
  margin-bottom: 5px;
}

/* ================================================Footer========================================= */

.footer {
  display: flex;
  justify-content: space-around;
  background-color: #5a5959;
  color: white;
  padding: 32px 180px;
}

.footer a {
  display: block;
  padding: 6px 0;
  text-decoration: none;
  color: white;
}

.footer a:hover {
  text-decoration: underline;
}

.footer-items {
  padding: 0 12px;
}

.footer span {
  font-size: 19px;
  padding: 8px 0;
  display: block;
  color: #edd184;
}

.footer-contact {
  display: flex;
  gap: 12px;
}

.footer-end {
  text-align: center;
  background-color: #5a5959;
  color: white;
}

.footer-end p {
  margin: auto;
  width: 80%;
  padding: 12px 0;
  border-top: 1px solid wheat;
}

.footer-end-icon {
  padding-bottom: 80px;
}

/* ================================================Contact========================================= */
.Contact {
  position: fixed;
  z-index: 2;
  bottom: 0;
  height: 75px;
}

.contact-infor {
  align-items: end;
  justify-content: end;
  max-width: 1200px;
  position: absolute;
  top: 60%;
  right: 10%;
  transform: translateY(-50%);
}

.contact-infor input {
  border: none;
  margin: 0 12px;
  outline: none;
  border-bottom: 2px solid #584c29;
  color: #584c29;
  font-size: 14px;
  padding: 4px;
  background-color: inherit;
}

.contact-infor input::placeholder {
  color: #584c29;
}

.contact-infor button {
  padding: 12px;
  border: none;
  background-color: #584c29;
  color: white;
  font-weight: 600;
  cursor: pointer;
}
